/* body {
    background-color: lightgray;
} */

.login-form {
    width:360px;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.vich-image img {
    max-width: 300px;
}
