<form method="post" action="{{ path('app_news_delete', {'id': news.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
    <button class="btn">Supprimer</button>
</form>
