{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}

<div class="container mt-5">

    <h1>Créer un nouvel article</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('app_news_index') }}">Revenir à la liste</a>

</div>

{% endblock %}
